.image {
    background-position: center;
    background-repeat: no-repeat;
}

/* Header */

header {
    background-image: url(/images/jumbotron_1.jpg);
    background-size: cover;

    .logo {
        width: 108px;
        height: 38px;
        margin: 10px 0;
        background-size: cover;
        background-image: url(/images/avadabarbers-logo-x2.png);
    }

    .jumbotron-img {
        background-image: url(/images/jumbotron_image.png);
        background-size: contain;
        height: 488px;
        width: 334px;
    }

}

/* Main */

.pro {
    background-image: url(/images/pro_background.jpg);
    background-size: cover;
}

.services {

    .services-icon {
        background-size: contain;
        width: 40px;
        height: 70px;
    }

    .services-icon.first {
        background-image: url(/images/services_trim_cut.png);
    }

    .services-icon.second {
        background-image: url(/images/services_wash_dry.png);
    }

    .services-icon.third {
        background-image: url(/images/services_beard_tidy.png);
    }

}

.products {
    background-image: url(/images/products_background.jpg);
    background-size: contain;
    background-repeat: repeat;

    .product-image {
        width: 270px;
        height: 270px;
        background-size: cover;
    }

    .product-image.first {
        background-image: url(/images/brush_dark.png);
    }

    .product-image.second {
        background-image: url(/images/scissors.png);
    }

    .product-image.third {
        background-image: url(/images/hot_oil_dark.png);
    }

    .product-image.fourth {
        background-image: url(/images/straight_razor_dark.png);
    }
}

.butter {

    .butter-back {
        height: 100%;
        width: 300px;
        background-image: url(/images/butter_background.jpg);
        background-size: cover;

        .butter-image {
            width: 260px;
            height: 260px;
            background-image: url(/images/shaving_butter.png);
            background-size: contain;
        }

    }
}

.reviews {

    .person {
        background-size: contain;
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    .person.first {
        background-image: url(/images/person_john.jpg);
    }

    .person.second {
        background-image: url(/images/person_pete.jpg);
    }

    .person.third {
        background-image: url(/images/person_mark.jpg);
    }

}

.blog {

    .blog-image {
        width: 100%;
        height: 143px;
        margin: 10px auto;
        background-size: cover;
    }

    .blog-image.first {
        background-image: url(/images/blog_1.jpg);
    }

    .blog-image.second {
        background-image: url(/images/blog_2.jpg);
    }

    .blog-image.third {
        background-image: url(/images/blog_3.jpg);
    }
}

/* Footer */
footer {

    .footer-image {
        background-size: cover;
        width: 230px;
        height: 180px;
    }

    .footer-image.first {
        background-image: url(/images/footer_1.png);
    }

    .footer-image.second {
        background-image: url(/images/footer_2.png);
    }

}